<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <div ng-app="" ng-init="a=0; b=0;">
        <p>Nhap vao chieu dai: <input type="number" ng-model="a"></p>
        <p>Nhap vao chieu rong: <input type="number" ng-model="b"></p>
        <p>Dien tich: <span ng-bind="a * b"></span></p>
        <p>Chu vi: <span ng-bind="(a+b)/2"></span></p>
    </div>
</body>
</html>